.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.poster {
  width: 300px;
  border-radius: 8px;
}

.details {
  display: flex;
  gap: 20px;
  flex: 1;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.links {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding: unset;
  margin: unset;
  justify-content: center;
  align-items: center;
}

.linkItem {
  font-weight: bolder;
  font-size: larger;
}

.hidden {
  display: none;
}
